#right_menu div.right_menu_box ul.online_admins li a {
	background: url('images/icons/user.png') no-repeat 98% 4px;
	padding-right: 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#right_menu div.right_menu_box ul.online_admins li.mobile_user a {
	background: url('images/icons/mobile_user.png') no-repeat 98% 4px;
	padding-right: 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}